@font-face {
    font-family: 'CANDARA';
    src: url('../fonts/CANDARA.eot');
    src: local('CANDARA'), url('../fonts/CANDARA.woff') format('woff'),
    url('../fonts/CANDARA.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1p-regular';
    src: url('../fonts/mplus-1p-regular-sub.eot');
    /* src: url('../fonts/mplus-1p-regular-sub.eot?#iefix') format('embedded-opentype'), */
    /* url('../fonts/mplus-1p-regular-sub.woff') format('woff'), */
    src: local('mplus-1p-regular'), url('../fonts/mplus-1p-regular-sub.woff') format('woff'),
    url('../fonts/mplus-1p-regular-sub.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1p-bold';
    src: url('../fonts/mplus-1p-bold-sub.eot');
    /* src: url('../fonts/mplus-1p-bold-sub.eot?#iefix') format('embedded-opentype'), */
    /* url('../fonts/mplus-1p-bold-sub.woff') format('woff'), */
    src: local('mplus-1p-bold'), url('../fonts/mplus-1p-bold-sub.woff') format('woff'),
    url('../fonts/mplus-1p-bold-sub.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1m-regular';
    src: url('../fonts/mplus-1m-regular-sub.eot');
    /* src: url('../fonts/mplus-1m-regular-sub.eot?#iefix') format('embedded-opentype'), */
    /* url('../fonts/mplus-1m-regular-sub.woff') format('woff'), */
    src: local('mplus-1m-regular'), url('../fonts/mplus-1m-regular-sub.woff') format('woff'),
    url('../fonts/mplus-1m-regular-sub.ttf') format('truetype');
}

body {
  font-family:'mplus-1p-regular';
  background-color: #FCFCFC;
}

h1 { font-size: 1.9rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; font-family:'mplus-1p-bold'; }
h4 { font-size: 1.3rem; font-family:'mplus-1p-bold'; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

header,
footer {
  margin: 4rem 0;
  text-align: center;
}

main {
  margin: 4rem 0;
  font-size: 1.2rem;
}

pre, code, var, samp, kbd, .mono {
  font-family:'mplus-1m-regular';
  /* font-size: 1.2rem; */
  /* line-height: 1.4; */
}

.container {
  width: 95%;
  max-width: 600px;
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.site-title {
  font-family:"CANDARA", "TimesNewRoman";
  margin-top: 2rem;
}

.entry-title {
  margin-bottom: 0;
}

.entry-title a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #66CCCC;
}

.entry-meta {
  font-family:"CANDARA", "TimesNewRoman";
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #888;
}

.footer-link {
  font-family:"CANDARA", "TimesNewRoman";
  font-size: 1.3rem;
  margin: 2rem 0;
}

a:link {
    color: #66CCCC;
}
a:visited {
    color: #66CCCC;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}
