@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
    font-family: 'CANDARA';
    src: url('../fonts/CANDARA.eot');
    src: local('CANDARA'), url('../fonts/CANDARA.woff') format('woff'),
    url('../fonts/CANDARA.ttf') format('truetype');
}

h1 {
  font-size: 1.5rem;
}

body {
  font-family: Calibri, Arial, "Noto Sans JP", "Yu Gothic Medium", YuGothic, sans-serif;
  font-size: 90%;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
pre code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 85%;
}
blockquote {
  font-family: "Times New Roman", "Yu Mincho", YuMincho;
}
.menu, .article-meta, footer {
  font-family: CANDARA, sans-serif;
}

