@font-face {
    font-family: 'CANDARA';
    src: url('../fonts/CANDARA.eot');
    src: local('CANDARA'), url('../fonts/CANDARA.woff') format('woff'),
    url('../fonts/CANDARA.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1p-regular';
    src: url('../fonts/mplus-1p-regular-sub.eot');
    src: local('mplus-1p-regular'), url('../fonts/mplus-1p-regular-sub.woff') format('woff'),
    url('../fonts/mplus-1p-regular-sub.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1p-bold';
    src: url('../fonts/mplus-1p-bold-sub.eot');
    src: local('mplus-1p-bold'), url('../fonts/mplus-1p-bold-sub.woff') format('woff'),
    url('../fonts/mplus-1p-bold-sub.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1m-regular';
    src: url('../fonts/mplus-1m-regular-sub.eot');
    src: local('mplus-1m-regular'), url('../fonts/mplus-1m-regular-sub.woff') format('woff'),
    url('../fonts/mplus-1m-regular-sub.ttf') format('truetype');
}

h1 {
  font-size: 1.5rem;
}

body {
  font-family: "Yu Mincho", YuMincho, serif;
  font-size: 90%;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
pre code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 85%;
}
blockquote {
  font-family: "Yu Mincho", YuMincho;
}

.menu, .article-meta, footer {
  font-family: CANDARA, sans-serif;
}

