@font-face {
    font-family: 'CANDARA';
    src: url('../fonts/CANDARA.eot');
    src: local('CANDARA'), url('../fonts/CANDARA.woff') format('woff'),
    url('../fonts/CANDARA.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1p-regular';
    src: url('../fonts/mplus-1p-regular-sub.eot');
    src: local('mplus-1p-regular'), url('../fonts/mplus-1p-regular-sub.woff') format('woff'),
    url('../fonts/mplus-1p-regular-sub.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1p-bold';
    src: url('../fonts/mplus-1p-bold-sub.eot');
    src: local('mplus-1p-bold'), url('../fonts/mplus-1p-bold-sub.woff') format('woff'),
    url('../fonts/mplus-1p-bold-sub.ttf') format('truetype');
}
@font-face {
    font-family: 'mplus-1m-regular';
    src: url('../fonts/mplus-1m-regular-sub.eot');
    src: local('mplus-1m-regular'), url('../fonts/mplus-1m-regular-sub.woff') format('woff'),
    url('../fonts/mplus-1m-regular-sub.ttf') format('truetype');
}

body {
  /* font-family: Optima, Candara, Calibri, Arial, sans-serif; */
  /* font-family: CANDARA, sans-serif; */
  font-family: mplus-1p-regular;
  font-size: 85%;
}
code {
  font-family: "Consolas", "Lucida Console", Monaco, monospace;
}
pre code {
  font-family: "Consolas", "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
